<%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>
<% if @data.present? %>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true}  if params[:id].present?%>
  <div class="row">
    <div class="large-8 columns">
      <% @data["data"].each do |data| %>
      <div class="browse-celeb-grid">
        <a href="/u/<%= data['username'] %>/?fid=<%= data['id'] %>"><img src="<%= data["profile_picture"] %>" style="width:100px;height:auto;" />
          <div style="color: #202020;text-align: center;font-size: 14px;"><%= data["username"] %></div>
        </a>
      </div>
      <% end %>
    </div>
    <div class="large-4 columns">
      <div class="large-12 columns">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
      <div class="large-12 columns">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
      <div class="large-12 columns">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @data["pagination"]["next_cursor"].present? %>
    <div id="load-more" class="large-2 columns" style="margin-top: 1%;">
      <%= link_to "Next", {controller: params[:controller], action: params[:action], id: params[:id], cursor: @data["pagination"]["next_cursor"]} %>
    </div>
    <% end %>
  </div>
  <%#= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>

  <script type="text/javascript">
  $(document).ready(function(){
    <% if @temp_info.present? %>
      var user_id = <%= @temp_info["user"]["id"] %>;
      $.ajax({
        url: "/profile_count/"+user_id,
        type: "GET",
        success: function(response) {
          $("#media-count").html(response["media"]);
          $("#followed-count").html(response["followed_by"]);
          $("#following-count").html(response["follows"]);
        }
      });
    <% end %>
  });
  </script>
<% else %>
  <h3 class="error"><%= @user_info["meta"]["error_message"] %></h3>
<% end %>