<%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>
<% if @data.present? %>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true}  if params[:id].present?%>
  <div class="row" style="margin-top: 5%;">
    <div class="col-md-8">
      <% @data["data"].each do |data| %>
      <div class="col-xs-6 col-md-2">
      	<div class="thumbnail">
	        <a href="/u/<%= data['username'] %>/?fid=<%= data['id'] %>"><img src="<%= data["profile_picture"] %>" style="width:100px;height:auto;" />
	        <div class="caption"><span><%= data["username"] %></span></div>
	    </div>
        </a>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @data["data"].length > 6 %>
            <SCRIPT>var ACE_AR = {Site: '886614', Size: '300250', CallType: 'IFRAME'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @data["pagination"]["next_cursor"].present? %>
    <div id="load-more" class="col-md-2 col-md-offset-5" style="margin-top: 1%;">
      <%= link_to "Next", {controller: params[:controller], action: params[:action], id: params[:id], cursor: @data["pagination"]["next_cursor"]}, class: :next %>
    </div>
    <% end %>
  </div>
  <%#= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>

  <script type="text/javascript">
  $(document).ready(function(){
    <% if @temp_info.present? %>
      var user_id = <%= @temp_info["user"]["id"] %>;
      $.ajax({
        url: "/profile_count/"+user_id,
        type: "GET",
        success: function(response) {
          $("#media-count").html(response["media"]);
          $("#followed-count").html(response["followed_by"]);
          $("#following-count").html(response["follows"]);
        }
      });
    <% end %>
  });
  </script>
<% else %>
  <div class="alert alert-danger"><%= @user_info["meta"]["error_message"] %></div>
<% end %>