<% if @data.blank? %>
  <div class="alert alert-danger">User does not exist or user deleted profile</div>
<%# elsif @user_info["meta"]["error_type"].present? %>
  <!--<h3 class="error">Sorry this is a private User</h3> -->
<% else %>
  <%#= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <div align="center" class="profile">
    <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
      <img src="<%= @temp_info["user"]["profile_picture"] %>" class="photo"/>
      <h3>@<%= @temp_info["user"]["username"] %></h3>
    </a>
    <div class="profile-details">
      <ul class="profile-list">
        <% if @temp_info["user"]["full_name"].present? %>
          <li>Name: <%= @temp_info["user"]["full_name"] %></li>
        <% end %>
        <% if @temp_info["user"]["website"].present? %>
          <li>Website: 
            <a href="<%= @temp_info["user"]["website"] %>"><%= @temp_info["user"]["website"] %></a>
          </li>
        <% end %>
        <% if params[:id] != @current_user.instagram_username && !@current_user.guest_user %>
          <% if @relationship.present? && @relationship["data"]["outgoing_status"] == "follows" %>
            <li id="relation-follows">Following</li>
          <% else %>
            <li id="relation-none">Follow</li>
          <% end %>
          <div class="relation-loader">
            <img src="/assets/fancybox_loading.gif">
          </div> 
        <% end %>
      </ul>
    </div>
    <% if @temp_info["user"]["bio"].present? %>
        <div class="bio">
          Bio: <%= @temp_info["user"]["bio"] %>
        </div>
    <% end %>
  </div>
  <div class="profile-activity">
      <div style="background: <%= tag_color %>">
        <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
          Photos <span id="media-count"></span> <%#= @user_info["data"]["counts"]["media"] %>
        </a>
      </div>
      <div style="background: <%= tag_color %>">
        <a href="/followed-by/?id=<%= @temp_info["user"]["id"] %>">
        Followers <span id="followed-count"></span> <%#= @user_info["data"]["counts"]["followed_by"] %>
        </a>
      </div>
      <div style="background: <%= tag_color %>">
        <a href="/following/?id=<%= @temp_info["user"]["id"] %>">
          Following <span id="following-count"></span> <%#= @user_info["data"]["counts"]["follows"] %>
        </a>
      </div>
      <% if params[:action] == "user" || params[:action] == "likes" && @current_user.present? %>
        <div style="background: <%= tag_color %>">
          <a href="/likes">Likes</a>
        </div>
      <% end %>
    </div>
  <%#= render 'uploads' %> 
  <div style="width: 100%;"><%= render 'show_mobile_upload' %></div>
<% end %>