<% if @data.blank? %>
  <h3 class="error">User does not exist or user deleted profile</h3>
<% elsif @user_info["meta"]["error_type"].present? %>
  <h3 class="error">Sorry this is a private User</h3>
<% else %>
  <%#= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <div align="center" class="profile">
    <a href="/u/<%= @user_info["data"]["username"] %>/">
      <img src="<%= @user_info["data"]["profile_picture"] %>" class="photo"/>
      <h3>@<%= @user_info["data"]["username"] %></h3>
    </a>
    <div class="profile-details">
      <ul class="profile-list">
        <% if @user_info["data"]["full_name"].present? %>
          <li>Name: <%= @user_info["data"]["full_name"] %></li>
        <% end %>
        <% if @user_info["data"]["website"].present? %>
          <li>Website: 
            <a href="<%= @user_info["data"]["website"] %>"><%= @user_info["data"]["website"] %></a>
          </li>
        <% end %>
        <% if params[:id] != @current_user.instagram_username && !@current_user.guest_user %>
          <% if @relationship.present? && @relationship["data"]["outgoing_status"] == "follows" %>
            <li id="relation-follows">Following</li>
          <% else %>
            <li id="relation-none">Follow</li>
          <% end %>
          <div class="relation-loader">
            <img src="/assets/fancybox_loading.gif">
          </div> 
        <% end %>
      </ul>
    </div>
    <% if @user_info["data"]["bio"].present? %>
        <div class="bio">
          Bio: <%= @user_info["data"]["bio"] %>
        </div>
    <% end %>
  </div>
  <div class="profile-activity">
      <div style="background: <%= tag_color %>">
        <a href="/u/<%= @user_info["data"]["username"] %>/?my-pic=1">
          Photos <%= @user_info["data"]["counts"]["media"] %>
        </a>
      </div>
      <div style="background: <%= tag_color %>">
        <a href="/followed-by/?id=<%= @user_info["data"]["id"] %>">
        Followers <%= @user_info["data"]["counts"]["followed_by"] %>
        </a>
      </div>
      <div style="background: <%= tag_color %>">
        <a href="/following/?id=<%= @user_info["data"]["id"] %>">
          Following <%= @user_info["data"]["counts"]["follows"] %>
        </a>
      </div>
      <% if params[:action] == "user" || params[:action] == "likes" && @current_user.present? %>
        <div style="background: <%= tag_color %>">
          <a href="/likes">Likes</a>
        </div>
      <% end %>
    </div>
  <%#= render 'uploads' %> 
  <div style="width: 100%;"><%= render 'show_mobile_upload' %></div>
<% end %>