<% if @data.blank? %>
  <%= render :partial => "site/leaderboard_ad" %>
  <h3 class="error">User does not exist or user deleted profile</h3>
<% elsif @temp_info.blank? %>
  <%= render :partial => "site/leaderboard_ad" %>
  <h3 class="error">Sorry this is a private User</h3>
<% else %>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <%= render :partial => "site/leaderboard_ad" %>
  <%#= render 'uploads' %> 
  <%= render '/site/content' %>
<% end %>