<% if @data.blank? %>
  <div class="row" align="center">
    <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=974934&amp;format=728x90&amp;ga=g" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
  </div>
  <div class="alert alert-danger">User does not exist or user deleted profile</div>
<% elsif exclude_users(params[:id], params[:fid]) %>
  <div class="alert alert-danger">We are sorry but this user opted out of site</div>
<% elsif @temp_info.blank? %>
  <div class="row" align="center">
    <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=974934&amp;format=728x90&amp;ga=g" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
  </div>
  <div class="alert alert-danger">Sorry this is a private User</div>
<%# helloojaclyn request %>
<% else %>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3">Share this page:</div>
      <div class="col-md-2">
        <div id="fb-share" link="<%= request.protocol+request.host_with_port+request.fullpath %>" picture="<%= @temp_info["user"]["profile_picture"] %>" caption="<%= request.protocol+request.host_with_port+request.fullpath+ request.path_info %>">
          <a class="fb-share">Facebook</a>
        </div>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="joyviewer" data-related="joyviewer" data-hashtags="joyviewer">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-md-2">
        <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <div class="row" style="margin: 2%;">
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <%= render :partial => "site/aol_medium_rectangle", :locals => {:show => true} %>
      </div>
      <div class="col-md-4">
        <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  
  <%#= render 'uploads' %> 
  <%= render '/site/content' %>
<% end %>