<% if @data.blank? %>
  <%= render :partial => "site/leaderboard_ad", :locals => {:keyword => params[:id]} %>
  <h3 class="error">User does not exist or user deleted profile</h3>
<% elsif @temp_info.blank? %>
  <%= render :partial => "site/leaderboard_ad", :locals => {:keyword => params[:id]} %>
  <h3 class="error">Sorry this is a private User</h3>
<%# helloojaclyn request %>
<% elsif params[:id] == "helloojaclyn" || params[:id] == "im5xoxo" || params[:fid] == "361460824" %>
  <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => params[:id]} %>
  <h3 class="error">We are sorry but this user opted out of site</h3>
<% else %>
  <%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>

  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3">Share this page:</div>
      <div class="col-md-2">
        <div id="fb-share" link="<%= request.protocol+request.host_with_port+request.fullpath %>" picture="<%= @temp_info["user"]["profile_picture"] %>" caption="<%= request.protocol+request.host_with_port+request.fullpath+ request.path_info %>">
          <a class="fb-share">Facebook</a>
        </div>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="joyviewer" data-related="joyviewer" data-hashtags="joyviewer">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-md-2">
        <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <div class="row">
    <div class="large-4 columns" style="margin-bottom: 4%;">
    </div>
    <!-- <div class="large-4 columns" style="margin-bottom: 4%;">
        <SCRIPT>var ACE_AR = {Site: '885808', Size: '320050'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
    </div> -->
  </div>
  <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => @temp_info["user"]["username"]} %>
  <%#= render 'uploads' %> 
  <%= render '/site/content' %>
<% end %>