<% color = tag_color %>
<% @data["data"].each_with_index do |data,i| %>
  <a href="/media/<%= data["id"] %>">
    <% if data["type"] == "video" %>
      <video class="img-resize" style="border: 1px solid <%= color %>;margin:-2px;border-radius:0px;" controls>
        <source src="<%= data["videos"]["low_resolution"]["url"] %>" type="video/mp4">
      </video>
    <% else %>      
      <img src="<%= data["images"]["low_resolution"]["url"] %>" class="img-resize" style="border: 1px solid <%= color %>;margin:-2px;border-radius:0px;">
    <% end %>
  </a>
<% end %>