<% color = tag_color %>
<% @data["data"].each_with_index do |data,i| %>
  <a href="/media/<%= data["id"] %>">
    <% if data["type"] == "video" %>
      <video class="img-resize" style="border: 1px solid <%= color %>;margin:-2px;border-radius:0px;max-height: 400px;" controls>
        <source src="<%= data["videos"]["standard_resolution"]["url"] %>" type="video/mp4">
      </video>
    <% else %>      
      <img src="<%= data["images"]["standard_resolution"]["url"] %>" class="img-resize" style="margin:-2px;border-radius:0px;max-height: 400px;">
    <% end %>
  </a>
<% end %>
<%= render "pagination" %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".white").click(function(){
      var mediaId = this.id;
      likeCount = parseInt($('#'+mediaId).attr('data-likes'))+1;
      $('#'+mediaId).addClass('red');
      $('#'+mediaId).removeClass('white');
      $('#bar-font-'+mediaId+' span').text(likeCount);

      $.ajax({
        url: "/like-media",
        type: 'POST',
        data: {"media_id" : mediaId},
        success: function(response) {
          console.log("phew!!!!");
        }
      });
    });

  });
</script>