<div id="getuid" uid="<%= @temp_info["user"]["id"] %>"></div>
<div id="profile-load" uid="<%= @temp_info["user"]["id"] %>" logged-in="<%= @current_user.logged_in_user ? 1 : 0 %>">
  <div class="row profile-row">
    <div class="col-md-6">
    <div class="col-md-6">
      <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
        <img src=<%= @temp_info["user"]["profile_picture"] %> style="border-radius: 59px;width: 120px;" />
      </a>
    </div>
    <div class="col-md-6">
      <p>
        <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
          <%= @temp_info["user"]["username"] %>
        </a>
      </p>
      <% if @temp_info["user"]["full_name"].present? %>
        <div id="full_name"><%= @temp_info["user"]["full_name"] %></div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-10">
      <span id="bio"></span>
    </div>
    <div class="col-md-10">
      <a id="website" href="" target="blank"></a>
    </div>
  </div>
  <div class="col-md-12 profile-load" style="border-top: 1px solid #DDD;margin-top: 2%;">
    <div class="col-md-4 text-center">
      <br/>
      <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>" class="gray-btn">Photos</a>
    </div>
    <div class="col-md-4 text-center">
      <br/>
      <a href="<%= url_restrict('followed-by',@temp_info["user"]["id"]) %>" class="gray-btn">Followers</a>
    </div>
    <div class="col-md-4 text-center">
      <br/>
      <a href="<%= url_restrict('following',@temp_info["user"]["id"]) %>" class="gray-btn">Following</a>
    </div>
  </div>
  </div>
</div>