<div id="getuid" uid="<%= @temp_info["user"]["id"] %>"></div>
<div id="profile-load" uid="<%= @temp_info["user"]["id"] %>" logged-in="<%= @current_user.logged_in_user ? 1 : 0 %>">
  <div class="row profile-row" style="margin-bottom: 4%;">
    <div class="large-12 columns profile-adv">
      <div class="large-6 columns profile-border">
        <div class="large-4 columns" id="profile_picture">
          <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
            <img src=<%= @temp_info["user"]["profile_picture"] %> style="border-radius: 93px;float:left;" />
          </a>
        </div>
        <div class="large-8 columns" style="margin-top: 21px;">
          <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
            <h3 id="username"><%= @temp_info["user"]["username"] %></h3>
          </a>
          <% if @temp_info["user"]["full_name"].present? %>
            <div id="full_name"><%= @temp_info["user"]["full_name"] %></div>
          <% end %>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="large-12 columns" style="padding:30px;font-size:15px;line-height:24px;color:#777;">
          <span id="bio"></span>
        </div>
        <div class="large-12 columns">
          <a id="website" href="" target="blank"></a>
        </div>
      </div>
    </div> 
   <div class="large-12 columns profile-adv" style="background:#202020;border:none;">
    <div class="large-4 columns profile-seperate_1">
      <a href="/u/<%= @temp_info["user"]["username"] %>/?fid=<%= @temp_info["user"]["id"] %>">
        <span>Photos</span>
      </a>
    </div>
    <div class="large-4 columns profile-seperate_1">
      <a href="/followed-by/?id=<%= @temp_info["user"]["id"] %>">
        <span>Followers</span>
      </a>
    </div>
    <div class="large-4 columns profile-seperate-last_1">
      <a href="/following/?id=<%= @temp_info["user"]["id"] %>">
        Following
      </a>
    </div>
   </div>
  </div>
</div>