<div class="grid_12" style="border-bottom: 1px dotted black;margin-bottom: 35px;">
  <table> 
    <tr>
      <td><div style="margin: 55px;"><img src=<%= @user_info["data"]["profile_picture"] %> /><br>
      <%= @user_info["data"]["full_name"] %></div></td>
      <td><div class="circle photos"><a href="/my-pics/?id=<%= @user_info["data"]["id"] %>">Photos<br><%= @user_info["data"]["counts"]["media"] %></a></div></td>
      <td><div class="circle followed"><a href="/followed-by/?id=<%= @user_info["data"]["id"] %>">Followed by <br><%= @user_info["data"]["counts"]["followed_by"] %></a></div></td>
      <td><div class="circle following"><a href="/following/?id=<%= @user_info["data"]["id"] %>">Following<br><%= @user_info["data"]["counts"]["follows"] %></a></div></td>
  </tr>
  </table>
</div>