<% if params[:action] == "geo_tag_content" %>
  <div class="head-text"> Instagram Pictures near & around you</div>
  <div class="large-7 columns large-centered">
  </div>
<% else %>
  <%= render '/users/user_basic_info' %>
<% end %>
<%#= render '/site/content' %>
<div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="col-md-3">
      <% if data["type"] == "video" %>
        <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
      <% end %>
      <div class="thumbnail">
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
        <div class="caption">
          <p>
            <a href="/u/<%= data["user"]["username"] %>/?fid=<%= data["user"]["id"] %>"><img src="<%= data["user"]["profile_picture"] %>" width="36px"></a>
            <a href="/u/<%= data["user"]["username"] %>/?fid=<%= data["user"]["id"] %>"><%= data["user"]["username"] %></a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
</div>
<%= render "/users/pagination" %>
