<% if params[:action] == "geo_tag_content" %>
  <div class="head-text"> Instagram Pictures near & around you</div>
  <%#= render :partial => "site/leaderboard_ad" %>
  <div class="large-7 columns large-centered">
    <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "cameras"} %>
  </div>
  <%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>
<% else %>
  <%= render '/users/user_basic_info' %>
<% end %>
<%#= render '/site/content' %>
<div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="col-md-3">
      <% if data["type"] == "video" %>
        <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
      <% end %>
      <a href="/media/<%= data["id"] %>" class="thumbnail"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
    </div>
    <% end %>
</div>
<%= render "/users/pagination" %>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "mobiles"} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>