<div class="row profile-row">
  <div class="col-md-6">
    <div class="col-md-6">
      <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>">
        <img src=<%= @profile[:profile_picture] %> style="border-radius: 59px;width: 120px;" />
      </a>
    </div>
    <div class="col-md-6">
      <p>
        <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>">
          <%= @profile[:username] %>
        </a>
      </p>
      <% if @profile[:full_name].present? %>
        <div id="full_name"><%= @profile[:full_name] %></div>
      <% end %>
      <% if params[:id] != @current_user.instagram_id %>
        <% if @current_user.guest_user %>
          <!--<div class="button" id="relation-none"><a href="/login">Follow me</a></div>-->
        <% else %>
          <div id="relation-check"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-10">
      <p id="bio"><%= @profile[:bio] %></p>
    </div>
    <div class="col-md-10">
      <a id="website" class="link-color" href="<%= @profile[:website] %>" target="blank"><%= @profile[:website] %>
      </a>
    </div>
  </div>
  <div class="col-md-12 profile-load" style="border-top: 1px solid #DDD;margin-top: 2%;">
    <div class="col-md-4 text-center">
      <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>" class="gray-btn">
        <span id="media-count"><%= @profile[:media] %></span><br>
        <span>Photos</span>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="<%= url_restrict('followed-by',@profile[:id]) %>" class="gray-btn">
        <span  id="followed-count"><%= @profile[:followed_by] %></span><br>
        <span>Followers</span>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="<%= url_restrict('followed-by',@profile[:id]) %>"  class="gray-btn">
        <span  id="following-count"><%= @profile[:follows] %></span><br>
        Following
      </a>
    </div>
  </div>
</div>