<div class="row profile-row" style="margin-bottom: 4%;">
  <div class="large-12 columns profile-adv">
    <div class="large-6 columns profile-border">
      <div class="large-4 columns" id="profile_picture">
        <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>">
          <img src=<%= @profile[:profile_picture] %> style="border-radius: 93px;" />
        </a>
      </div>
      <div class="large-8 columns" style="margin-top: 21px;">
        <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>">
          <h3 id="username"><%= @profile[:username] %></h3>
        </a>
        <% if @profile[:full_name].present? %>
          <div id="full_name"><%= @profile[:full_name] %></div>
        <% end %>


        <% if params[:id] != @current_user.instagram_id %>
          <% if @current_user.guest_user %>
            <div class="button" id="relation-none">Follow me</div>
          <% else %>
            <div id="relation-check"></div>
          <% end %>
          <div class="relation-loader">
            <img src="/assets/fancybox_loading.gif">
          </div> 
        <% end %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="large-12 columns" style="padding:30px;font-size:15px;line-height:24px;color:#353535;">
        <span id="bio"><%= @profile[:bio] %></span>
      </div>
      <div class="large-12 columns">
        <a id="website" href="<%= @profile[:website] %>" target="blank"><%= @profile[:website] %></a>
      </div>
    </div>
  </div> 
 <div class="large-12 columns profile-adv profile-load" style="background:#F6F7F7;border:none;">
  <div class="large-4 columns profile-seperate">
    <a href="/u/<%= @profile[:username] %>/?fid=<%= @profile[:id] %>">
      <span id="media-count" class="count"><%= @profile[:media] %></span><br>
      <span>Photos</span>
    </a>
  </div>
  <div class="large-4 columns profile-seperate">
    <a href="/followed-by/?id=<%= @profile[:id] %>">
      <span  id="followed-count" class="count"><%= @profile[:followed_by] %></span><br>
      <span>Followers</span>
    </a>
  </div>
  <div class="large-4 columns profile-seperate-last">
    <a href="/following/?id=<%= @profile[:id] %>">
      <span  id="following-count" class="count"><%= @profile[:follows] %></span><br>
      Following
    </a>
  </div>
 </div>
</div>
</div>