<% meta_keywords "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}, #{params[:id].to_s}, #{params[:id].to_s} instagram photos, instagram photos for tag #{params[:id].to_s}, #{params[:id].to_s} popular photos on instagram" %>
<% meta_description "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}" %>
<h1><%=h content_for(:title, "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}") %></h1>
<% if @data["meta"]["error_message"].present? %>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "cameras"} %>
  <h3 class="error">This tag cannot be viewed</h3>
<% else %>
  <div class="popular-text">Photos Tagged with #<%= params[:id].to_s %></div>
  <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "laptops"} %>
  <%= render :partial => "site/aol_leaderboard", :locals => {:show => @data.try(:[],["data"]).present?} %>
  <%#= render '/site/content' %>
  <div class="row">
    <% @data["data"].each_with_index do |data,i| %>
      <div class="large-3 columns" style="padding:5px;">
        <% if data["type"] == "video" %>
          <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
        <% end %>
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>" style="box-shadow: 0px 1px 3px black;margin:-2px;border-radius:0px;"></a>
      </div>
      <% end %>
  </div>
  <%= render '/users/pagination' %>
  <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "mobiles"} %>
  <%= render :partial => "site/aol_leaderboard", :locals => {:show => @data.try(:[],["data"]).present?} %>
<% end %>