<% meta_keywords "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}, #{params[:id].to_s}, #{params[:id].to_s} instagram photos, instagram photos for tag #{params[:id].to_s}, #{params[:id].to_s} popular photos on instagram" %>
<% meta_description "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}" %>
<h1><%=h content_for(:title, "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}") %></h1>
<% if @data["meta"]["error_message"].present? %>
  <div class="alert alert-danger">This tag cannot be viewed</div>
<% else %>
  <div class="head-text">Photos Tagged with #<%= params[:id].to_s %></div>
  <%#= render '/site/content' %>
  <div class="row">
    <% @data["data"].each_with_index do |data,i| %>
      <div class="col-md-3">
        <% if data["type"] == "video" %>
          <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
        <% end %>
        <a href="/media/<%= data["id"] %>" class="thumbnail"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
      </div>
      <% end %>
      <div class="col-md-3" style="padding:5px;">
        <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
      </div>
  </div>
  <%= render '/users/pagination' %>
<% end %>