<% meta_keywords "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}, #{params[:id].to_s}, #{params[:id].to_s} instagram photos, instagram photos for tag #{params[:id].to_s}, #{params[:id].to_s} popular photos on instagram" %>
<% meta_description "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}" %>
<h1><%=h content_for(:title, "Joyviewer - Instagram Photos Tagged with ##{params[:id].to_s}") %></h1>
<% if @data["meta"]["error_message"].present? %>
<%= render :partial => "site/leaderboard_ad" %>
  <h3 class="error">This tag cannot be viewed</h3>
<% else %>
  <div class="popular-text">Photos Tagged with #<%= params[:id].to_s %></div>
  <%= render :partial => "site/leaderboard_ad" %>
  <%= render '/site/content' %>
  <%= render '/users/pagination' %>
  <%= render :partial => "site/leaderboard_ad" %>
<% end %>