<% if @comments["data"] %>
  <div class="row">
    <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=974934&amp;format=728x90&amp;ga=g" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
    <div class="col-md-8">
      <p style="font-weight:bold;font-size:16px;text-decoration: underline;">Comments</p>
      <% @comments["data"].each do |comment| %>
        <div><a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>"><img src="<%= comment["from"]["profile_picture"] %>" style="width: 50px;float: left;padding: 4px;border-radius: 17px;"></a></div>
        <div class="media-comment">
          <a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>" style="color: #619AB1;"><%= comment["from"]["username"] %></a>
          <div style="font-size: 13px;"><%= comment["text"] %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <% if true && @comments["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @comments["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @comments["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger">Sorry this Content might have been deleted by user or it is a private content</div>
<% end %>