<div class="row">
  <div class="large-8 columns large-centered">
    <p style="font-weight:bold;font-size:16px;text-decoration: underline;">Comments</p>
    <% @comments["data"].each do |comment| %>
      <div><a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>"><img src="<%= comment["from"]["profile_picture"] %>" style="width: 50px;float: left;padding: 4px;border-radius: 17px;"></a></div>
      <div class="media-comment">
        <a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>" style="color: #619AB1;"><%= comment["from"]["username"] %></a>
        <div style="font-size: 13px;"><%= comment["text"] %></div>
      </div>
    <% end %>
  </div>
</div>