<% if @likes["data"] %>
  <div align="center">
  </div>
  <div class="row">
    <div class="col-md-8">
      <% @likes["data"].each do |like| %>
        <div class="col-xs-6 col-md-2">
          <div class="thumbnail">
            <a href="/u/<%= like['username'] %>/?fid=<%= like['id'] %>">
              <img src="<%= like["profile_picture"] %>" >
              <div class="caption"><%= like["username"] %></div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <% if true && @likes["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @likes["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
      <div class="col-md-12">
        <% if true && @likes["data"].length > 6 %>
            <%= render :partial => "site/aol_medium_mad_ad_rectangle", :locals => {:show => true} %>
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger">Sorry this Content might have been deleted by user or it is a private content</div>
<% end %>