<%#= render :partial => "site/leaderboard_ad" %>
<div align="center">
  <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=joyviewer-20&o=1&p=48&l=ur1&category=watches&banner=0HDTHZ74DP3VKQNN4PR2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</div>
<div class="row">
  <div class="large-12 columns">
    <% @likes["data"].each do |like| %>
      <div class="browse-celeb-grid">
        <a href="/u/<%= like['username'] %>/?fid=<%= like['id'] %>">
          <img src="<%= like["profile_picture"] %>" style="width:100px;height:auto;" >
          <div style="color: #202020;text-align: center;font-size: 14px;"><%= like["username"] %></div>
        </a>
      </div>
    <% end %>
  </div>
</div>
<%= render :partial => "site/leaderboard_ad" %>