<%  resolution = session[:mobile] ? "low_resolution" : "standard_resolution" %>
<div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="large-6 columns" style="padding:5px;">
      <% if @current_user.present? && !@current_user.guest_user && data["type"] == "image" %>
        <% if data['user_has_liked'] %>
          <div class="foundicongen-heart red heart"></div>
        <% else %>
          <i class="foundicongen-heart white heart" id="<%= data['id'] %>" data-pos="<%= i %>" data-likes="<%= data["likes"]["count"] %>"></i>
        <% end %>    
      <% end %>
      <a href="/media/<%= data["id"] %>">
        <% if data["type"] == "video" %>
          <video style="border: 1px solid #202020;width:100%;max-width:612px;max-height:99.673202614%;" controls>
            <source src="<%= data["videos"][resolution]["url"] %>" type="video/mp4">
          </video>
        <% else %>
          <img src="<%= data["images"][resolution]["url"] %>" style="width:100%;max-width:612px;max-height:612px;border: 1px solid #202020;" >
        <% end %>
      </a>
      <% if data["type"] == "image" %>
        <div class="des-bar">
          <div class="bar-font" id="bar-font-<%= data['id'] %>" like-count="<%= data["likes"]["count"] %>"><%= data["comments"]["count"]  %> Comments <span><%= data["likes"]["count"] %></span> Likes</div>
        </div>
      <% end %>
    </div>

    <div style="display:none;">
      <% data["comments"]["data"][0..3].each do |comment| %>
      <div style="border-bottom: 1px solid;">
      <%if @current_user.present? && !@current_user.guest_user %>
      <a href="/u/<%= comment["from"]["username"] %>"><br/></a>
      <% else %>
      <img src="<%= comment["from"]["profile_picture"] %>" style="width: 9%;"><br/>
      <% end %>
      <%= comment["from"]["username"] %>
      <p style="max-width: 35%;float:right; margin: -4% 46% 0% 0"><%= comment["text"] %></p>
      </div>
      <% end %>
    </div>
  <% end %>
</div>