<% color = tag_color %>
<% @data_tags["data"].each_with_index do |data,i| %>
  <a href="/media/<%= data["id"] %>">
    <% if data["type"] == "video" %>
      <video class="img-resize" style="border: 1px solid <%= color %>;margin:-2px;border-radius:0px;max-height: 160px;" controls>
        <source src="<%= data["videos"]["low_resolution"]["url"] %>" type="video/mp4">
      </video>
    <% else %>      
      <img src="<%= data["images"]["low_resolution"]["url"] %>" class="img-resize" style="margin:-2px;border-radius:0px;max-height: 160px;">
    <% end %>
  </a>
<% end %>

<% if params[:action] != "popular" %>
  <% next_id = @data_tags["pagination"]["next_max_tag_id"] || @data_tags["pagination"]["next_max_like_id"] || @data_tags["pagination"]["next_max_id"] %>
  <% if next_id.present? %>
    <div id="load-more" class="grid_2">
      <%= link_to "Next", {controller: params[:controller], action: params[:action], n: next_id, q: params[:q]} %>
    </div>
  <% end %>
<% end %>
