<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web, About" %>
<% meta_description "Joyviewer - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "Joyviewer - Joy of Instagram On Web") %></h1>
<div class="row">
  <div class="col-md-12">
    <div class="cam">
      <div class="button"></div>
      <div class="camera">
        <div class="stripe">
          <div class="flash-light"></div>
        </div>
        <div class="lens">
          <div class="lens-border"></div>
        </div>
        <div class="shine1">
          <div class="shine2"></div>
        </div>
      </div>
      <div>
        <img class="img-out" src="http://scontent-a.cdninstagram.com/hphotos-xpa1/outbound-distilleryimage4/t0.0-17/OBPTH/c8c80562d3ae11e28cc022000a9f308d_5.jpg">
        <img class="img-out" src="http://scontent-a.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage5/t0.0-17/OBPTH/64652ce8d92c11e286e122000a9e080f_5.jpg">
        <img class="img-out" src="http://scontent-b.cdninstagram.com/hphotos-xap1/outbound-distilleryimage0/t0.0-17/OBPTH/acaa29ccd3a511e2b89c22000ae912df_5.jpg">
        <img class="img-out" src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10261065_279537338888761_1084489215_s.jpg">
      </div>
    </div>
  </div>
  <p class="about">
    <span style="color:<%= tag_color %>;">Joyviewer</span> is a fun way to view and share instagram content on web. With Joyviewer you can
    View <span style="color:<%= tag_color %>;">popular</span> Instagram photos,
    User <span style="color:<%= tag_color %>;">feeds</span>,
     Instagram Pictures near & around you, 
    Browse content by most popular <span style="color:<%= tag_color %>;">tags</span>,
    <span style="color:<%= tag_color %>;">Search</span> photos and users,
    <span style="color:<%= tag_color %>;">Like</span> photos,
    View your uploads , check your <span style="color:<%= tag_color %>;">followers</span> and <span style="color:<%= tag_color %>;">following</span> list,
    Follow new users,
    Share via <span style="color:#c0392b;">pinterest</span>, <span style="color:#3B5998;">Facebook</span>, <span style="color:#2C4762;">Tumblr</span>, <span style="color:#0271BF;">Twitter</span>.
    <br>

    For any suggestions and/or queries please drop by a Mail at: <span style="color:<%= tag_color %>;">joyviewer.assist@gmail.com</span>
  </p>
</div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "mobiles"} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => true} %>