<% meta_keywords "joystagram, joystagram.com, instagram, IG, web, PC, Computer, viewer, instagram on web, About" %>
<% meta_description "Joystagram - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "Joystagram - Joy of Instagram On Web") %></h1>
<div class="row">
  <p class="about">
    <span style="color:<%= tag_color %>;">Joystagram</span> is an easy way to view and share instagram content on web. With Joystagram you can
    View <span style="color:<%= tag_color %>;">popular</span> Instagram photos,
    User <span style="color:<%= tag_color %>;">feeds</span>,
     Instagram Pictures near & around you, 
    Browse content by most popular <span style="color:<%= tag_color %>;">tags</span>,
    <span style="color:<%= tag_color %>;">Search</span> photos and users,
    <span style="color:<%= tag_color %>;">Like</span> photos,
    View your uploads , check your <span style="color:<%= tag_color %>;">followers</span> and <span style="color:<%= tag_color %>;">following</span> list,
    Follow new users,
    Share via <span style="color:#c0392b;">pinterest</span>, <span style="color:#3B5998;">Facebook</span>, <span style="color:#2C4762;">Tumblr</span>, <span style="color:#0271BF;">Twitter</span>.
    <br>
    For any suggestions and/or queries please drop by a Mail at: <span style="color:<%= tag_color %>;">support@joystagram.com</span>
  </p>
</div>
<%= render :partial => "site/leaderboard_ad" %>