<% meta_keywords "Joyviewer - Shopping on instagram" %>
<% meta_description "Joyviewer - Apparels on instagram" %>
<h1><%=h content_for(:title, "Joyviewer - Apparels on instagram joyviewer.com") %></h1>
<div align="center" class="head-text">
  <a href="/apparel">
    Apparel 
    <% if params[:b].present? %> 
      <%= " (#{params[:b]})" %>
    <% end %>
  </a>
</div>
<%#= render '/site/content' %>
<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <% Constant::TEMP_SHOP_BRANDS[0..28].each do |shop| %>
        <li class="list-group-item">
          <a href="/apparel/?b=<%= shop %>" style="color: <%= tag_color %>"><%= shop %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10">
    <% @data["data"].each_with_index do |data,i| %>
      <div class="col-xs-6 col-md-3">
        <% if data["type"] == "video" %>
          <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
        <% end %>
        <a href="/media/<%= data["id"] %>" class="thumbnail"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
      </div>
      <% end %>
  </div>
</div>
  <%= render '/users/pagination' %>
