<div id="wrapper">
<div>
  <div class="login-button">
    <a href="https://instagram.com/oauth/authorize/?client_id=d8d1ad02f4564390aaac77be8390c6a6&redirect_uri=http://myinsta.herokuapp.com/user/&response_type=code&scope=likes+comments+relationships">
      Login
    </a>
  </div>
</div>
<div id="columns">
  <% @data["data"].each do |data| %>
    <div class="pin">
      <img src="<%= data["images"]["standard_resolution"]["url"] %>" style=" width: 192px; ">
      <div class="description">
        <%= data["caption"]["text"].force_encoding("UTF-8") rescue "" %>
      </div>
      <p style="color:#8C7E7E;">
        <%= data["comments"]["count"]  %> Comments <%= data["likes"]["count"] %> Likes
      </p>
      <% if data["caption"].present? %>
        <div class="by-user">
          <img src="<%= data["caption"]["from"]["profile_picture"] rescue '' %>" style="width: 30px; height: 30px;" >
          <div class="user-font"><%= data["caption"]["from"]["username"] %></div>
        </div>
      <% end %>
        <% data["comments"]["data"][0..3].each do |comment| %>
      <div class="comments">
          <img src="<%= comment["from"]["profile_picture"] %>" style="width: 30px; height: 30px; float: left;" >
          <p>
            <span class="user-font" style="color:black;"><%= comment["from"]["username"] %>:</span>
            <%= comment["text"] %>
          </p>
      </div>
        <% end %>
    </div>
  <% end %>
</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36579424-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>