<div class="row" style="margin-top: 30px;">
  <div class="col-md-12" style="text-align: center;margin:0px 5px 22px -100px;"><h2><%= params[:set].present? ? @fun_users[params[:set].to_i] : '8Fact' %> On Instagram</h2></div>
  <div class="col-md-2">
    <div class="col-md-12 col-sm-3">
      <a href="/?set=353770979"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_353770979_75sq_1400500922.jpg" style="width: 90px;"></a>
    </div>
    <div class="col-md-12 col-sm-3">
      <a href="/?set=259220806"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_259220806_75sq_1388631209.jpg" style="width: 90px;"></a>
    </div>
    <div class="col-md-12 col-sm-3">
      <a href="/?set=489992346"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_489992346_75sq_1400504846.jpg" style="width: 90px;"></a>
    </div>
    <div class="col-md-12">
      <a href="/?set=504544916"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_504544916_75sq_1376390456.jpg" style="width: 90px;"></a>
    </div>
    <div class="col-md-12">
      <a href="/?set=504545790"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_504545790_75sq_1376387654.jpg" style="width: 90px;"></a>
    </div>
    <div class="col-md-12">
      <a href="/?set=320089176"><img class="fun-users" src="http://images.ak.instagram.com/profiles/profile_320089176_75sq_1396877530.jpg" style="width: 90px;"></a>
    </div>
  </div>
  <div class="col-md-6">
    <% @data["data"].each_with_index do |data,i| %>
      <% if data["caption"].present? && data["caption"]["text"].present? %>
        <h3 style="text-align: center;"><%= data["caption"]["text"] %></h3>
      <% end %>
      <% if data["type"] == "video" %>
      <video width="90%" controls poster="<%#= url %>">
        <source src="<%= data["videos"]["standard_resolution"]["url"] %>" type="video/mp4">
      </video>
      <% else %>
        <div class="large-img">
          <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["standard_resolution"]["url"] %>" style="width:90%;"></a>
        </div>
      <% end %>
    <% end %>
    <%= render "users/pagination" %>
  </div>
  <div class="col-md-4">
    <div style="display: none1;">
      <div class="col-md-12 trend-label">
        <p class="trn"><a style="color:white" href="/trending/?media=1">Trending</a></p>
      </div>
      <% @trending.each do |trend| %>
        <div class="col-md-6 nopm">
          <a href="/media/<%= trend.media_id %>"><img src="<%= trend.media %>"  style="width: 99%;"></a>
        </div>
      <% end %>
    </div>
    <div class="col-md-12 trend-label">
      <p class="trn"><a style="color:white" href="/categories/2">Celebrities</a></p>
    </div>
    <% @celebs.each do |celeb| %>
      <div class="col-md-4 nopm">
        <a href="/u/<%= celeb.instagram_username %>/?fid=<%= celeb.instagram_user_id %>"><img src="<%= celeb.instagram_profile_picture %>"  style="width: 100%;border-radius: 10px;">
        </a>
      </div>
    <% end %>
    <div class="col-md-12 trend-label">
      <p class="trn"><a style="color:white" href="/categories/5">Models</a></p>
    </div>
    <% @models.each do |model| %>
      <div class="col-md-4 nopm">
        <a href="/u/<%= model.instagram_username %>/?fid=<%= model.instagram_user_id %>">
          <img src="<%= model.instagram_profile_picture %>"  style="width: 100%;border-radius: 10px;">
        </a>
      </div>
    <% end %>

    <div class="col-md-12 trend-label">
      <p class="trn"><a style="color:white" href="/apparel/?b=americanapparelusa">Apparel</a></p>
    </div>
    <div class="col-md-4 nopm">
      <a href="/apparel/?b=americanapparelusa"><img src="http://images.ak.instagram.com/profiles/profile_22081838_75sq_1386037266.jpg"  style="width: 100%;border-radius: 10px;"></a>
    </div>
    <div class="col-md-4 nopm">
      <a href="/apparel/?b=americaneagle"><img src="http://images.ak.instagram.com/profiles/profile_1935199_75sq_1358281346.jpg"  style="width: 100%;border-radius: 10px;"></a>
    </div>
    <div class="col-md-4 nopm">
      <a href="/apparel/?b=victoriassecret"><img src="http://images.ak.instagram.com/profiles/profile_3416684_75sq_1359739020.jpg"  style="width: 100%;border-radius: 10px;"></a>
    </div>
</div>
