<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "#{@media["data"]["caption"]["text"] rescue "Joyviewer - Joy of Instagram On Web @joyviewer"}") %></h1>
<div id="getuid" uid="<%= @media["data"].present? ? @media["data"]["user"]["id"] : nil %>"></div>
<% if @media["meta"]["error_message"].present? %>
  <h3 class="error">Sorry this Image might have been deleted by user or it is a private content</h3>
<% else %>
  <%= render :partial => "site/aol_leaderboard", :locals => {:show => @media["data"].present?} %>
  <div class="row">
    <!-- <div class="large-7 columns" style="margin-bottom:2%;">
      <div align="center">
        <SCRIPT>var ACE_AR = {Site: '885820', Size: '468060'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
      </div>
    </div> -->
  </div>
  <div id='fb-root'></div>
  <% url = @media["data"]["images"]["standard_resolution"]["url"] %>
  <div class="row" id="uname" val="<%= @media["data"]["user"]["username"] %>">
    <div class="large-7 columns">
      <% if @media["data"]["type"] == "video" %>
        <video width="99%" controls poster="<%= url %>">
          <source src="<%= @media["data"]["videos"]["standard_resolution"]["url"] %>" type="video/mp4">
        </video>
      <% else %>
        <img src="<%= @media["data"]["images"]["standard_resolution"]["url"] %>" class="media-img single-image">
      <% end %>
      <div class="media-desc">
        <%= @media["data"]["caption"]["text"] rescue "" %>
      </div>
    </div>
    <div class="large-3 columns">
      <div style="font-size: 13px;">
        <div class="side-panel">
          <% if !@current_user.guest_user %>
            <% if @media["data"]["user_has_liked"] %>
              <i class="foundicongen-heart margin0 red"></i>
            <% else %>
              <i class="foundicongen-heart margin0" id="like-media" val="<%= @media["data"]["id"] %>" data-likes="<%= @media["data"]["likes"]["count"] %>"></i>
            <% end %>
          <% else %>
            <i class="foundicongen-heart margin0" id="like-as-guest"></i>
          <% end %>
          <div id="like-count">
            <a href="/likes/<%= @media["data"]["id"] %>" style="font-weight:bold;">
              <span><%= @media["data"]["likes"]["count"] %></span> 
              Likes
            </a>
            <%= !@current_user.guest_user ? "" : " (Sign in to like)" %>
          </div>
        </div>
        <div class="side-panel">
          <a href="/comments/<%= params[:id] %>" style="font-weight:bold;"><%= @media["data"]["comments"]["count"] %> Comments</a>
        </div>
        <div class="side-panel pin-button">
          <a href="<%= pin[:u] %>&media=<%= url %>&description=<%= pin[:d] %>" target="_blank" data-pin-do="<%= pin[:do] %>" data-pin-config="<%= pin[:c] %>"><img src="<%= pin[:s] %>" /></a>
        </div>
        <div class="side-panel">
          <div id="fb-share" link="<%= request.protocol+request.host_with_port+request.fullpath %>" picture="<%= url %>" caption="<%= request.protocol+request.host_with_port+request.fullpath+ request.path_info %>">
            <a><i class="social foundicon-facebook"></i></a>
          </div>
        </div>
        <div class="side-panel">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this out" data-via="joyviewer" data-hashtags="joyviewer">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="side-panel">
          <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
        </div>
        <% if @media["data"]["filter"].present? %>
          <div class="side-panel">
            <% modified_filter = {"X-Pro II" => "XProII", "Lo-fi" => "Lofi"} %>
            <% filter = @media["data"]["filter"] == "X-Pro II" || @media["data"]["filter"] == "Lo-fi" ? modified_filter[@media["data"]["filter"]] : @media["data"]["filter"] %>
            Filter: 
            <a href="/tag/<%= filter %>" style="font-family: Droid Sans;font-weight: bold;background:#202020;color: white;padding:5px;">
              <%= @media["data"]["filter"] %>
            </a>
          </div>
        <% end %>
        <div class="side-panel">Created: <%= Time.at(@media["data"]["created_time"].to_i).strftime("%B %d %Y") %></div>
        <% if @media["data"]["location"].present? && @media["data"]["location"]["name"].present? %>
          <div class="side-panel">Location: <%= @media["data"]["location"]["name"] %></div>
        <% end %>
        <% if @media["data"]["tags"].present? %>
          <div class="side-panel">
            <span>Tags</span>
            <ul>
              <% tags = @media["data"]["tags"] %>
              <% tag_size = tags.size > 20 ? 20 : tags.size %>
              <% tag_size.times do |i| %>
                <% colr = tag_color %>
                <li class="tag1" style="color: <%= colr %>;">
                  <a href="/tag/<%= tags[i] %>" style="color: <%= colr %>;">
                    #<%= tags[i] %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="side-panel">
          <div style="font-size: 14px;"><a href="/likes/<%= params[:id] %>" style="font-weight:bold;">Likers</a></div>
          <div>
            <% @media["data"]["likes"]["data"].each do |like| %>
              <a href="/u/<%= like["username"] %>/?fid=<%= like["id"] %>"><img src="<%= like["profile_picture"] %>"class="likers"></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="browse-user" uid="<%= @media["data"]["user"]["id"] %>" logged-in="<%= @current_user.logged_in_user ? 1 : 0 %>"></div>
  </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="uploader">      
            <div align="center">
              <a href="/u/<%= @user_id %>/?fid=<%= @media["data"]["user"]["id"] %>">
                <img src="<%= @media["data"]["user"]["profile_picture"] %>" class="media-author">
                <p style="margin: 0px;color: #619AB1;"><%= @media["data"]["user"]["username"] %></p>
              </a>
              <% if  @media["data"]["user"]["id"] != @current_user.instagram_id %>
              <% if @current_user.guest_user %>
                <!--<div class="button" id="relation-none"><a href="/login">Follow me</a></div> -->
              <% else %>
                <div id="relation-check"></div>
              <% end %>
              <div class="relation-loader">
                <img src="/assets/fancybox_loading.gif">
              </div> 
            <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns" style="font-size: 14px;">
        <% if false && Rails.env == "production" && @media["data"].present? %>
          <div align="center">
            <SCRIPT>var ACE_AR = {Site: '885820', Size: '468060'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
          </div>
        <% end %>
        <div class="comment-count">
          <a href="/comments/<%= params[:id] %>" style="font-weight:bold;"><%= @media["data"]["comments"]["count"] %> Comments</a>
        </div>
        <% @media["data"]["comments"]["data"].each do |comment| %>
          <div><a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>"><img src="<%= comment["from"]["profile_picture"] %>" style="width: 50px;float: left;padding: 4px;border-radius: 17px;"></a></div>
          <div class="media-comment">
            <a href="/u/<%= comment["from"]["username"] %>/?fid=<%= comment["from"]["id"] %>" style="color: #619AB1;"><%= comment["from"]["username"] %></a>
            <div style="font-size: 13px;"><%= comment["text"] %></div>
          </div>
        <% end %>
        <div class="fb-comments" data-href="<%= request.protocol+request.host_with_port+request.fullpath %>" picture="<%= url %>" caption="<%= request.protocol+request.host_with_port+request.fullpath+ request.path_info %>" data-width="470"></div>
      
        <% if @current_user.instagram_username == "kushal00" %>   
          <textarea rows="3" cols="50">
            Nice 
          </textarea>
          <button id="comment-button">Comment</button>
        <% end %>
      </div>
      <div class="large-4 columns" style="margin:2%;">
        <SCRIPT>var ACE_AR = {Site: '885818', Size: '300250'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
      </div>
    </div>
<% end %>