<div class="grid_12 omega">
  <div class="grid_7 omega">
    <div class="single-image">
      <img src="<%= @media["data"]["images"]["standard_resolution"]["url"] %>" style="width:99%;">
    </div>
  </div>
  <div class="grid_3 omega" style="margin-left: 80px;">
    <div style="font-size: 13px;">
      <div class="side-panel"><%= @media["data"]["likes"]["count"] %> Likes</div>
      <div class="side-panel"><%= @media["data"]["comments"]["count"] %> Comments</div>
      <% if @media["data"]["filter"].present? %>
        <div class="side-panel">Filter: <%= @media["data"]["filter"] %></div>
      <% end %>
      <div class="side-panel">Created: <%= Time.at(@media["data"]["created_time"].to_i).strftime("%B %d %Y") %></div>
      <% if @media["data"]["location"].present? && @media["data"]["location"]["name"].present? %>
        <div class="side-panel">Location: <%= @media["data"]["location"]["name"] %></div>
      <% end %>
      <% if @media["data"]["tags"].present? %>
      <div class="side-panel">
        <span>Tags</span>
        <ul style="padding-left: 5px;">
          <% tags = @media["data"]["tags"] %>
          <% tag_size = tags.size > 7 ? 7 : tags.size %>
          <% tag_size.times do |i| %>
            <a href="/tag/<%= tags[i] %>"><li class="tag" style="background: <%= tag_color %>;"><%= tags[i] %></li></a>
          <% end %>
        </ul>
      <% end %>
      </div>
      <div class="side-panel">
        <div class="like-red" style="margin-left: 80px;"></div>
        <div>
          <% @media["data"]["likes"]["data"].each do |like| %>
            <a href="/user/<%= like["username"] %>"><img src="<%= like["profile_picture"] %>"class="likers"></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="uploader">      
      <div align="center">
        <a href="/user/<%= @user_id %>">
          <img src="<%= @media["data"]["user"]["profile_picture"] %>" style="width: 15%;border-radius: 10px;">
          <p style="margin: 0px;color: #619AB1;"><%= @media["data"]["user"]["username"] %></p>
        </a>
      </div>
  </div>
  <div class="grid_7" style="font-size: 14px;">
    <div class="comment-count"><%= @media["data"]["comments"]["count"] %> Comments</div>
      <% @media["data"]["comments"]["data"].each do |comment| %>
        <div><a href="/user/<%= comment["from"]["username"] %>"><img src="<%= comment["from"]["profile_picture"] %>" style="width: 50px;float: left;padding: 4px;border-radius: 17px;"></a></div>
        <div style="width:575px;height:60px;border-bottom: 1px solid #DDD;font-size: 13px;">
          <a href="/user/<%= comment["from"]["username"] %>" style="color: #619AB1;"><%= comment["from"]["username"] %></a>
          <div style="font-size: 13px;"><%= comment["text"] %></div>
        </div>
      <% end %>
  </div>
  <div class="grid_3" style="margin: 0px 10px 154px 40px;">
    <div class="browse-more">
      <div style="border-bottom: 1px solid #DDD;text-align: center;font-size: 15px">Browse more by <br><a href="/user/<%= @user_id %>" style="color: #619AB1;"><%= @media["data"]["user"]["username"] %></a></div>
    </div>
    <div>
      <% @browse_user.each do |media| %>
        <div class="browse-user-grid">
          <a href="/media/<%= media["id"] %>"><img src="<%= media["images"]["thumbnail"]["url"] %>" %></a>
        </div>
      <% end %>
    </div>
    <div class="browse-more" style="margin-top: 16px;">
      <div style="border-bottom: 1px solid #DDD;text-align: center;font-size: 15px">Browse more by <br><a href="/" style="color: #619AB1;">Popular</a></div>
    </div>
    <div>
      <% @browse_popular.each do |media| %>
        <div class="browse-user-grid">
          <a href="/media/<%= media["id"] %>"><img src="<%= media["images"]["thumbnail"]["url"] %>" %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!--<%# @media["data"]["comments"]["data"].each do |comment| %>
  <div style="border-bottom: 1px solid;">
    <%#if @current_user.present? %>
      <a href="/user-info/?id=<%#= comment["from"]["id"] %>"><img src="<%#= comment["from"]["profile_picture"] %>" style="width: 9%;"><br/></a>
      <%# else %>
        <img src="<%#= comment["from"]["profile_picture"] %>" style="width: 9%;"><br/>
    <%# end %>
    <%#= comment["from"]["username"] %>
    <p style="max-width: 35%;float:right; margin: -4% 46% 0% 0"><%#= comment["text"] %></p>
  </div>
<%# end %> -->


