<div id='fb-root'></div>
<% url = @media["data"]["images"]["standard_resolution"]["url"] %>
<div class="grid_12 omega">
  <div class="grid_7 omega">
    <div class="single-image">
      <img src="<%= @media["data"]["images"]["standard_resolution"]["url"] %>" style="width:99%;">
    </div>
  </div>
  <div class="grid_3 omega" style="margin-left: 80px;">
    <div style="font-size: 13px;">
      <div class="side-panel">
        <i class="foundicongen-heart margin0 <%= "red" if @media["data"]["user_has_liked"] %>"></i>
        <div><%= @media["data"]["likes"]["count"] %> Likes</div>
      </div>
      <div class="side-panel"><%= @media["data"]["comments"]["count"] %> Comments</div>
      <% if @media["data"]["filter"].present? %>
        <div class="side-panel">Filter: <%= @media["data"]["filter"] %></div>
      <% end %>
      <div class="side-panel">Created: <%= Time.at(@media["data"]["created_time"].to_i).strftime("%B %d %Y") %></div>
      <% if @media["data"]["location"].present? && @media["data"]["location"]["name"].present? %>
        <div class="side-panel">Location: <%= @media["data"]["location"]["name"] %></div>
      <% end %>
      <% if @media["data"]["tags"].present? %>
      <div class="side-panel">
        <span>Tags</span>
        <ul style="padding-left: 5px;">
          <% tags = @media["data"]["tags"] %>
          <% tag_size = tags.size > 7 ? 7 : tags.size %>
          <% tag_size.times do |i| %>
            <a href="/tag/<%= tags[i] %>"><li class="tag" style="background: <%= tag_color %>;"><%= tags[i] %></li></a>
          <% end %>
        </ul>
      <% end %>
      </div>
      <div class="side-panel">
        <div style="font-size: 14px;">Likers</div>
        <div>
          <% @media["data"]["likes"]["data"].each do |like| %>
            <a href="/u/<%= like["username"] %>"><img src="<%= like["profile_picture"] %>"class="likers"></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="uploader">      
      <div align="center">
        <a href="/u/<%= @user_id %>">
          <img src="<%= @media["data"]["user"]["profile_picture"] %>" style="width: 15%;border-radius: 10px;">
          <p style="margin: 0px;color: #619AB1;"><%= @media["data"]["user"]["username"] %></p>
        </a>
      </div>
      <div class="pin-button">
        <a href="<%= pin[:u] %>&media=<%= url %>&description=<%= pin[:d] %>" target="_blank" data-pin-do="<%= pin[:do] %>" data-pin-config="<%= pin[:c] %>"><img src="<%= pin[:s] %>" /></a>
      </div>
      <div id="fb-share">
        <a><i class="social foundicon-facebook"></i></a>
      </div>
  </div>
  <div class="grid_7" style="font-size: 14px;">
    <div class="comment-count"><%= @media["data"]["comments"]["count"] %> Comments</div>
      <% @media["data"]["comments"]["data"].each do |comment| %>
        <div><a href="/u/<%= comment["from"]["username"] %>"><img src="<%= comment["from"]["profile_picture"] %>" style="width: 50px;float: left;padding: 4px;border-radius: 17px;"></a></div>
        <div style="width:575px;min-height:60px;border-bottom: 1px solid #DDD;font-size: 13px;">
          <a href="/u/<%= comment["from"]["username"] %>" style="color: #619AB1;"><%= comment["from"]["username"] %></a>
          <div style="font-size: 13px;"><%= comment["text"] %></div>
        </div>
      <% end %>
  </div>
  <div class="grid_3" style="margin: 0px 10px 154px 40px;">
    <div class="browse-more">
      <div style="border-bottom: 1px solid #DDD;text-align: center;font-size: 15px">Browse more by <br><a href="/u/<%= @user_id %>" style="color: #619AB1;"><%= @media["data"]["user"]["username"] %></a></div>
    </div>
    <div>
      <% @browse_user.each do |media| %>
        <div class="browse-user-grid">
          <a href="/media/<%= media["id"] %>"><img src="<%= media["images"]["thumbnail"]["url"] %>" %></a>
        </div>
      <% end %>
    </div>
    <div class="browse-more" style="margin-top: 16px;">
      <div style="border-bottom: 1px solid #DDD;text-align: center;font-size: 15px">Browse more by <br><a href="/" style="color: #619AB1;">Popular</a></div>
    </div>
    <div>
      <% @browse_popular.each do |media| %>
        <div class="browse-user-grid">
          <a href="/media/<%= media["id"] %>"><img src="<%= media["images"]["thumbnail"]["url"] %>" %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  FB.init({appId: "<%= APP_CONFIG["fb_app_id"] %>", status: true, cookie: true});

  $(document).ready(function(){
    $('#fb-share').click(function(){
      console.log(1);
      var obj = {
          method: 'feed',
          //redirect_uri: 'http://127.0.0.1:3000',
          link: '<%= request.protocol+request.host_with_port+request.fullpath %>',
          picture: '<%= url %>',
          name: 'Joystagram',
          caption: 'Instagram Web Viewer',
          description: '<%= @media["data"]["caption"]["text"] %>'
        };
      function callback(response) {
          console.log(response);
        }
      FB.ui(obj, callback);
    });
  });
</script>