<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram @Joyviewer") %></h1>
<div class="grid_12 omega">
  <div class="popular-text">Popular photos and videos on Instagram</div>
</div>
<div id="image-loader" align="center" style="display: none;"><img src="/assets/ajax-loader.gif" /></div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "instagram"} %>
<% if Rails.env == "production" %>
  <div align="center">
    <SCRIPT>var ACE_AR = {Site: '885814', Size: '728090'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
  </div>
<% end %>
<div id="disp">
  <%#= render 'content' %>
  <div class="row">
    <% @data["data"].each_with_index do |data,i| %>
      <div class="large-3 columns" style="padding:5px;">
        <% if data["type"] == "video" %>
          <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
        <% end %>
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>" style="box-shadow: 0px 1px 3px black;margin:-2px;border-radius:0px;"></a>
        <div class="caption-count" style="background:<%= tag_color %>">
          <div class="bar-font">
            <%= data["comments"]["count"]  %> Comments <%= data["likes"]["count"] %> Likes
          </div>
        </div>
      </div>
      <% end %>
      <% if Rails.env == "production" %>
        <div class="large-3 columns" style="padding:5px;">
          <SCRIPT>var ACE_AR = {Site: '885818', Size: '300250'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
        </div>
      <% end %>
</div>