<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram @Joyviewer") %></h1>
<div class="grid_12 omega">
  <div class="popular-text">Popular photos and videos on Instagram</div>
</div>
<div id="image-loader" align="center" style="display: none;"><img src="/assets/ajax-loader.gif" /></div>
<%= render :partial => "site/leaderboard_ad" %>
<div id="disp">
  <%#= render 'content' %>
  <div class="row">
    <% @data["data"].each_with_index do |data,i| %>
      <div class="large-3 columns" style="padding:5px;">
        <% if data["type"] == "video" %>
          <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
        <% end %>
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>" style="box-shadow: 0px 1px 3px black;margin:-2px;border-radius:0px;"></a>
        <div class="caption-count" style="background:<%= tag_color %>">
          <div class="bar-font">
            <%= data["comments"]["count"]  %> Comments <%= data["likes"]["count"] %> Likes
          </div>
        </div>
      </div>
      <% end %>
      <div class="large-3 columns" style="padding:5px;">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=joyviewer-20&o=1&p=12&l=ur1&category=shoes&banner=1X4EBEV4MZPBWFK06CR2&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
  </div>
</div>