<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram joyviewer.com") %></h1>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>

<div class="head-text">Popular photos and videos on Instagram</div>

<div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="col-xs-6 col-md-3">
      <% if data["type"] == "video" %>
        <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
      <% end %>
      <div class="thumbnail">
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
        <div class="caption">
          <p>
            <a href="/u/<%= data["user"]["username"] %>/?fid=<%= data["user"]["id"] %>"><img src="<%= data["user"]["profile_picture"] %>" width="36px"></a>
            <a href="/u/<%= data["user"]["username"] %>/?fid=<%= data["user"]["id"] %>"><%= data["user"]["username"] %></a>
          </p>
          <p>
            <a href="/comments/<%= data["id"] %>"><%= data["comments"]["count"]  %> Comments </a>
            <a href="/likes/<%= data["id"] %>"><%= data["likes"]["count"] %> Likes</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>