<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram @Joyviewer") %></h1>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @data["data"].present?} %>

<div class="head-text">Popular photos and videos on Instagram</div>

<div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="col-xs-6 col-md-3">
      <% if data["type"] == "video" %>
        <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
      <% end %>
      <div class="thumbnail">
        <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>"></a>
        <div class="caption">
          <p><%= data["comments"]["count"]  %> Comments <%= data["likes"]["count"] %> Likes</p>
        </div>
      </div>
    </div>
  <% end %>
</div>