<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram") %></h1>
<div class="grid_12 omega">
  <div class="popular-text">Popular photos and videos on Instagram</div>
</div>
<div id="image-loader" align="center" style="display: none;"><img src="/assets/ajax-loader.gif" /></div>
<%= render :partial => "site/leaderboard_ad" %>
<div id="disp">
  <%#= render 'content' %>
  <div class="row">
  <% @data["data"].each_with_index do |data,i| %>
    <div class="large-3 columns" style="padding:5px;">
      <% if data["type"] == "video" %>
        <a href="/media/<%= data["id"] %>"><div class="arrow-right"></div></a>
      <% end %>
      <a href="/media/<%= data["id"] %>"><img src="<%= data["images"]["low_resolution"]["url"] %>" style="border: 1px solid #202020;margin:-2px;border-radius:0px;"></a>
    </div>
    <% end %>
</div>
</div>