<% meta_keywords "Instagram photo tag search, search instagram on web, search instagram, search instagram photos" %>
<% meta_description "Instagram photo tag search" %>
<h1><%=h content_for(:title, "Joyviewer.com search @joystagram") %></h1>

<div class="row" style=" margin-bottom: 10%; ">
  <div class="col-lg-6">
    <form action="/search">
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="<%= params[:q] if params[:kind] == "tag" %>" placeholder="SEARCH PHOTOS - NO SPACES OR SPECIAL CHARACTERS">
        <input type="hidden" name="kind" value="tag">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">SEARCH</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <form action="/search">
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="<%= params[:q] if params[:kind] == "user" %>" placeholder="SEARCH PEOPLE">
            <input type="hidden" name="kind" value="user">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">SEARCH</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div>
  <%if params[:q].present? %>
    <% search_text = (@data["data"].blank?) ? " No Result found for #{params[:q]}" : "Search result for #{params[:q]}" %>
    <div class="head-text"><%= search_text %></div>
    <% if params[:kind] == "tag" %>
      <div align="center">
        <% if @data["data"].present? %>
          <div><%= render "search_tags" %></div>
        <% end %>
    <% elsif params[:kind] == "user" %>
        <% if @data["data"].present? %>
          <%= render "search_users" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% if params[:kind] == "tag" %>
    <% next_id = @data["pagination"]["next_max_tag_id"] || @data["pagination"]["next_max_like_id"] || @data["pagination"]["next_max_id"] %>
    <% if next_id.present? %>
      <div id="load-more" class="col-md-2 col-md-offset-5">
        <%= link_to "Next", {controller: params[:controller], action: params[:action], n: next_id, q: params[:q], kind: params[:kind]}, class: :next %>
      </div>
    <% end %>
<% end %>
</div>
