<% meta_keywords "Instagram photo tag search, search instagram on web, search instagram, search instagram photos" %>
<% meta_description "Instagram photo tag search" %>
<h1><%=h content_for(:title, "Instagram photo tag search | Joystagram") %></h1>

<div class="grid_12 omega search">
  <form action="/search">
    <input type="text" id="search-input" name="q" value="<%= params[:q] %>" placeholder="Search for tags or users">
    <input type="submit" value="Search" id="refresh-button">
  </form>
</div>
<%if params[:q].present? %>
  <% search_text = (@data_tags["data"].blank? && @data_users["data"].blank?) ? " No Result found for #{params[:q]}" : "Search result for #{params[:q]}" %>
  <div class="popular-text"><%= search_text %></div>
  <div align="center">
    <% if @data_tags["data"].present? %>
      <div class="grid_6" style="border-left: 1px solid #DDD;margin: 30px;"><%= render "search_tags" %></div>
    <% end %>
    <% if @data_users["data"].present? %>
      <div class="grid_4" style="border-right: 1px solid #DDD;border-left: 1px solid #DDD;margin: 30px;">
      <%= render "search_users" %></div>
    <% end %>
  </div>
<% end %>