<% un = @user_info["meta"]["error_type"].present? ? "" : @user_info["data"]["username"] %>
<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG,instagram on web, #{un}" %>
<h1><%=h content_for(:title, "Joyviewer - #{un} Joy of Instagram On Web") %></h1>
<%= render '/users/user_basic_info' %>
<%= render 'content' %>
<%= render "/users/pagination" %>
<script type="text/javascript">
$(document).ready(function(){
  <% if @temp_info.present? %>
    var user_id = <%= @temp_info["user"]["id"] %>;
    $.ajax({
      url: "/profile_count/"+user_id,
      type: "GET",
      success: function(response) {
        $("#media-count").html(response["media"]);
        $("#followed-count").html(response["followed_by"]);
        $("#following-count").html(response["follows"]);
      }
    });
  <% end %>
});
</script>