<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, Instagrammers, viewer, instagram Celebrities, #{@categories.collect(&:name).join("','")}" %>
<% meta_description "Joyviewer - Categories of instagram users" %>
<h1><%=h content_for(:title, "Joyviewer - Categories of instagram users @joyviewer") %></h1>
<div class="row">
  <div class="popular-text">Browse by Categories</div>
  <%  @categories.each do |c| %>
    <div class="browse-celeb-grid">
      <a href="/categories/<%= c.id %>"><img src="<%= c.image %>"><br>
      <div style="text-align: center;font-size: 14px;color:#202020;"><%= c.name %></div></a>
    </div>
  <% end %>
</div>
<%= render :partial => "site/leaderboard_ad" %>