<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, Instagrammers, viewer, instagram Celebrities, #{@categories.collect(&:name).join("','")}" %>
<% meta_description "Joyviewer - Categories of instagram users" %>
<h1><%=h content_for(:title, "Joyviewer - Categories of instagram users joyviewer.com") %></h1>
<div class="row">
  <div class="head-text">Browse by Categories</div>
  <div class="col-md-12">
	  <%  @categories.each do |c| %>
	    <div class="col-xs-6 col-md-2">
	    	<div class="thumbnail">
		      <a href="/categories/<%= c.id %>"><img src="<%= c.image %>">
		      <div class="caption"><span><%= c.name %></span></a></div>
		    </div>
	    </div>
	  <% end %>
	</div>
</div>
<div class="row">
  <p style="font-size: 12px;margin:2%;">Note: Categories are curated by our team to help you find and follow interesting users on instagram but we do not guarantee authenticity of any account displayed in categories in any sense.</p>
</div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "instagram"} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @categories.present?} %>