<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, Instagrammers, viewer, instagram Celebrities, #{@users.collect(&:instagram_username).join("','")}" %>
<% meta_description "Joyviewer - Celebrities On Instagram" %>
<h1><%=h content_for(:title, "Joyviewer - #{@category.name} On Instagram") %></h1>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => @category.name} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @users.present?} %>
<div class="row">
  <div class="head-text"><%= @category.name %></div>
  <div class="col-md-2">
    <ul  class="list-group">
      <li class="list-group-item"><a href="/categories">All</a></li>
      <% if !session[:mobile] %>
        <% @categories.each_with_index do |c,i| %>
          <li class="list-group-item">
            <a href="/categories/<%= c.id %>"><img src="<%= c.image %>" width="52px">
              <%= c.name %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10">
    <%  @users.each do |u| %>
    <div class="col-xs-6 col-md-2">
      <div class="thumbnail">
        <a href="/u/<%= u.instagram_username %>/?fid=<%= u.instagram_user_id %>"><img src="<%= u.instagram_profile_picture %>">
        <div class="caption"><%= u.instagram_username %></div></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <p style="font-size: 12px;margin:2%;">Note: Categories are curated by our team to help you find and follow interesting users on instagram but we do not guarantee authenticity of any account displayed in categories in any sense.</p>
</div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => @category.name} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @users.present?} %>