<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, Instagrammers, viewer, instagram Celebrities, #{@users.collect(&:instagram_username).join("','")}" %>
<% meta_description "Joyviewer - Celebrities On Instagram" %>
<h1><%=h content_for(:title, "Joyviewer - #{@category.name} On Instagram") %></h1>
<%= render :partial => "site/leaderboard_ad" %>
<div class="row">
  <div class="popular-text"><%= @category.name %></div>
  <%  @users.each do |u| %>
    <div class="browse-celeb-grid">
      <a href="/u/<%= u.instagram_username %>/?fid=<%= u.instagram_user_id %>"><img src="<%= u.instagram_profile_picture %>"><br>
      <div style="text-align: center;font-size: 14px;"><%= u.instagram_username %></div></a>
    </div>
  <% end %>
</div>
<%= render :partial => "site/leaderboard_ad" %>