<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, Instagrammers, viewer, instagram Celebrities, #{@users.collect(&:instagram_username).join("','")}" %>
<% meta_description "Joyviewer - Celebrities On Instagram" %>
<h1><%=h content_for(:title, "Joyviewer - #{@category.name} On Instagram") %></h1>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => @category.name} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @users.present?} %>
<div class="row">
  <div class="popular-text"><%= @category.name %></div>
  <div class="large-2 columns">
    <ul class="side-nav">
      <li><a href="/categories" style="color:white;text-align:center;">All</a></li>
      <% if !session[:mobile] %>
        <% @categories.each_with_index do |c,i| %>
          <li class="<%= side_list(i) %>"><a href="/categories/<%= c.id %>" style="color:white;"><img src="<%= c.image %>" style="width:50px;padding: 1px;">  <%= c.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="large-10 columns">
    <%  @users.each do |u| %>
    <div class="large-3 columns">
      <div class="browse-celeb-grid">
        <a href="/u/<%= u.instagram_username %>/?fid=<%= u.instagram_user_id %>"><img src="<%= u.instagram_profile_picture %>"><br>
        <div style="text-align: center;font-size: 14px;"><%= u.instagram_username %></div></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => @category.name} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @users.present?} %>