<div class="row">
  <div class="col-md-12">
    <div class="head-text">TRENDING ON INSTAGRAM</div>
  </div>
  <% @trending.each_with_index do |trend,i| %>
    <% if params[:media] %>
      <div class="col-md-3">
        <% if trend.media_type == "video" %>
          <a href="/media/<%= trend.media_id %>"><div class="arrow-right"></div></a>
        <% end %>
        <div class="thumbnail">
            <a href="/media/<%= trend.media_id %>"><img src="<%= trend.media %>"></a>
            <div class="caption">
              <p>
                <a href="/u/<%= trend.username %>/?fid=<%= trend.instagram_id %>"><img src="<%= trend.profile_image %>" width="36px"></a>
                <a href="/u/<%= trend.username %>/?fid=<%= trend.instagram_id %>"><%= trend.username %></a>
              </p>
            </div>
        </div>
      </div>
    <% else %>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <a href="/u/<%= trend.username %>?fid=<%= trend.instagram_id %>"><img src="<%= trend.profile_image %>"></a>
        </div>
        <!-- <div class="col-md-6">
          <ul class="trend-list">
            <li><a href="/u/<%#= trend.username %>?fid=<%#= trend.instagram_id %>"><%#= trend.username %></a></li>
            <li><a href="/u/<%#= trend.username %>?fid=<%#= trend.instagram_id %>"><%#= trend.full_name %></a></li>
            <li>Uploads:<a href="/u/<%#= trend.username %>?fid=<%#= trend.instagram_id %>"><%#= trend.uploads %></a></li>
            <li>Followers:<a href="/followed-by/?id=<%#= trend.instagram_id %>"><%#= trend.followed_by %></a></li>
            <li>Following:<a href="/following/?id=<%#= trend.instagram_id %>"><%#= trend.follows %></a></li>
          </ul>
        </div> -->
      </div>
      <% break if i == 14 %>
    <% end %>
  <% end %>
</div>
<div class="col-md-6" style="margin-left: 30%;"><%= paginate @trending %></div>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @trending.present?} %>
