<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title><%=h yield(:title) %></title>
    <meta name="Author" content="Kushal Dongre"/>
    <meta name="DESCRIPTION" content="<%= meta_description %>"/> 
    <meta name="KEYWORDS" content="<%= meta_keywords %>"/> 
    <meta name="ROBOTS" content="ALL"/>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <% if Rails.env.production? && cookies[:knc].blank? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-41627186-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        //FB.init({appId: "<%= APP_CONFIG["fb_app_id"] %>", status: true, cookie: true});
      </script>
    <% end %>
  </head>
  <body>
    <div id="fb-root"></div>
    // <script>(function(d, s, id) {
    //   var js, fjs = d.getElementsByTagName(s)[0];
    //   if (d.getElementById(id)) return;
    //   js = d.createElement(s); js.id = id;
    //   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=652128014801687";
    //   fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));</script>
    <nav class="top-bar">
      <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">Joystagram</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/">Home</a></li>
        <% if !@current_user.guest_user %>
          <li><a href="/user">Feeds</a></li>
        <% end %>
        <li><a href="/popular">Popular</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tags">Hashtags</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/nearby">Near by</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <% if @current_user.present? && !@current_user.guest_user %>
            <a href="/logout">Logout</a></div>
          <% else %>
            <a href="/login" class="button" style="background: #202020;color: white;font-family: &quot;Droid sans&quot;;
              font-size: 16px;
              border: none;
              font-weight: 700;
              border-radius: 5px;
              margin-top: 12px;">
              <img src="/assets/Instagram_Icon.png" style="width: 26px;">
              Sign In With Instagram
            </a>
          <% end %>
        </li>
      </section>

    </nav>
    <!-- <div class="row">
      <div class="large-12 columns">
        <div class="large-10 columns"></div>
        <div class="large-2 columns fb-like">
          Like us on Facebook 
          <div class="fb-like" data-href="http://www.joystagram.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </div>
      </div>
    </div> -->
      <%= yield %>
      <a href="#" class="go-top">Scroll to Top</a> 

      <!-- FOOTER -->
      <footer class="color-four site-footer row" role="contentinfo"> 
        <div class="foot">
            Joystagram uses the Instagram™ API and is not endorsed or certified by Instagram or Instagram, Inc. All Instagram™ logos and trademarks displayed on Joystagram are property of Instagram, Inc.
          </div> 
      </footer>
      <!-- <footer>
        <div class="grid_12">
          <div class="foot">
            Joystagram uses the Instagram™ API and is not endorsed or certified by Instagram or Instagram, Inc. All Instagram™ logos and trademarks displayed on Joystagram are property of Instagram, Inc.
          </div>
        </div>
        
      </footer> -->
      <!--<div class="grid_12">
          <ul class="nav">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Policy</a></li>
          </ul>
      </div> -->
  </body>
</html>
<script type="text/javascript">
  $(function() {
    $(document).foundation();
});
</script>
