<!DOCTYPE html>
<html>
  <head>
    <title>Instaonweb</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/jquery.fancybox-thumbs.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/jquery.fancybox.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/normalize.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/site.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/users.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.pjax.js?body=1" type="text/javascript"></script>
    <script src="/assets/pjax/page_triggers.js?body=1" type="text/javascript"></script>
    <script src="/assets/pjax/enable_pjax.js?body=1" type="text/javascript"></script>
    <script src="/assets/pjax.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.emojify.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.fancybox-thumbs.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.fancybox.pack.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.fittext.js?body=1" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="grid_12">
        <div class="grid_8 logo" id="fittext1">Instaonweb</div>
        <div class="grid_4 omega">
          <% if @current_user.present? %>
            <a href="/user">
              <img src="<%= cookies["img_insta"] %>" class="logged-in" ><br>
              <%= @current_user.instagram_full_name %>
            </a>
          <% else %>
            <div class="login">
              <a href="https://instagram.com/oauth/authorize/?client_id=<%= APP_CONFIG['client_id'] %>&redirect_uri=<%= APP_CONFIG['redirect_uri'] %>&response_type=code&scope=likes+comments+relationships">
                Login
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
    <script type="text/javascript">
      $("#fittext1").fitText();
    </script>
  </body>
</html>
