<!DOCTYPE html>
<html>
  <head>
    <title><%=h yield(:title) %></title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.fancybox.pack", "jquery.fancybox-thumbs", "jquery.fittext" %>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41627186-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
  </head>
  <body>
    <div class="container clearfix">
      <div class="grid_12">
        <div class="grid_8 logo" id="fittext1"><a href="/">Joystagram</a></div>
        <div class="grid_4 omega">
          <% if @current_user.present? && !@current_user.guest_user %>
            <a href="/user">
              <img src="<%= @current_user.instagram_image %>" class="logged-in" style="
    height: 113px;" >
            </a>
            <div class="logout"><a href="/logout">Logout</a></div>
          <% else %>
            <div class="login">
              <a href="https://instagram.com/oauth/authorize/?client_id=<%= APP_CONFIG['client_id'] %>&redirect_uri=<%= APP_CONFIG['redirect_uri'] %>&response_type=code&scope=likes+comments+relationships">
                Login
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <% if @current_user.present? %>
        <div class="grid_12">
          <ul class="nav">
            <li><a class="<%= "list_selected" if params[:action] == "/" %>" href="/">Popular</a></li>
            <% if !@current_user.guest_user %>
              <li><a class="<%= "list_selected" if params[:action] == "user" %>" href="/user">Feeds</a></li>
            <% else %>
              <li><a href="/tags">tags</a></li>
            <% end %>
            <li><a href="/nearby">Local</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </div>
      <% end %>
      <div align="center">
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-5459412814593708";
          /* first ad */
          google_ad_slot = "2420511273";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
      <%= yield %>
      <div align="center">
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-5459412814593708";
          /* footer ad */
          google_ad_slot = "1024503270";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
      <!--<div class="grid_12">
          <ul class="nav">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Policy</a></li>
          </ul>
      </div> -->
    </div>
    <script type="text/javascript">

      var dataLength = <%= @data.present? ? @data["data"].length : 0 %>

      $(document).ready(function() {
        for (var i = 0; i < dataLength; i++) {
          var content = $('#someHtml_'+i).html();
          $(".fancybox_"+i).fancybox({
            'content': content,
            'maxHeight' : 1800
          });
        };
        setTimeout(
          function() 
          {
            $(".des-bar").show();
          }, 4000);
      });
      $("#fittext1").fitText();
    </script>
  </body>
</html>
