<!DOCTYPE html>
<html>
  <head>
    <title>Instaonweb</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.fancybox.pack", "jquery.fancybox-thumbs", "jquery.fittext" %>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="grid_12">
        <div class="grid_8 logo" id="fittext1"><a href="/">Instaonweb</a></div>
        <div class="grid_4 omega">
          <% if @current_user.present? %>
            <a href="/user">
              <img src="<%= cookies["img_insta"] %>" class="logged-in" ><br>
              <%= @current_user.instagram_full_name %>
            </a>
          <% else %>
            <div class="login">
              <a href="https://instagram.com/oauth/authorize/?client_id=<%= APP_CONFIG['client_id'] %>&redirect_uri=<%= APP_CONFIG['redirect_uri'] %>&response_type=code&scope=likes+comments+relationships">
                Login
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <% if @current_user.present? %>
        <div class="grid_12">
          <ul class="nav">
            <li><a class="<%= "list_selected" if params[:action] == "user" %>" href="/user">Feeds</a></li>
            <li><a class="<%= "list_selected" if params[:action] == "following" %>" href="/following">Following</a></li>
            <li><a class="<%= "list_selected" if params[:action] == "followed_by" %>" href="/followed-by">Followers</a></li>
            <li><a class="<%= "list_selected" if params[:action] == "my_pics" %>" href="/my-pics">Uploads</a></li>
            <li class="last"><a class="<%= "list_selected" if params[:action] == "likes" %>" href="/likes">Likes</a></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script type="text/javascript">
      var dataLength = <%= @data["data"].length %>

      $(document).ready(function() {
        for (var i = 0; i < dataLength; i++) {
          var content = $('#someHtml_'+i).html();
          $(".fancybox_"+i).fancybox({
            'content': content,
            'maxHeight' : 1800
          });
        };
      });
      $("#fittext1").fitText();
    </script>
  </body>
</html>
