<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title><%=h yield(:title) %></title>
    <meta name="Author" content="Kushal Dongre"/>
    <meta name="DESCRIPTION" content="<%= meta_description %>"/> 
    <meta name="KEYWORDS" content="<%= meta_keywords %>"/> 
    <meta name="ROBOTS" content="ALL"/>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41627186-1', 'joyviewer.com');
        ga('send', 'pageview');
      </script>
    <% end %>

        <!-- Begin AdvertiseSpace Site 93282 -->
    <script type="text/javascript">
        (function() {
            var ads = document.createElement('script');
            ads.type = 'text/javascript';
            ads.async = true;
            ads.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//ads.advertisespace.com/ad/93282-6L2Pq4/1.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ads, s);
        })();
    </script>
    <!-- End AdvertiseSpace Site 93282 -->

    
  </head>
  <body>
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
            appId      : <%= APP_CONFIG['fb_app_id'] %>,                        // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
          });

          // Additional initialization code such as adding Event Listeners goes here
        };

        // Load the SDK asynchronously
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/all.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
    
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">JOYVIEWER</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li>
                <a href="/explore">EXPLORE</a>
              </li>
              <li>
                <a href="/popular">POPULAR</a>
              </li>
              <li>
                <a href="/trending/?media=1">TRENDING</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">CATEGORY <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="download">
                  <li><a tabindex="-1" href="/categories">ALL</a></li>
                  <li class="divider"></li>
                  <% Category.get_categories[1..15].each do |category| %>
                    <li><a tabindex="-1" href="/categories/<%= category.id %>"><%= category.name.upcase %></a></li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">APPAREL <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="download">
                  <% Constant::TEMP_TOP_BRANDS.each do |brand| %>
                    <li><a tabindex="-1" href="/apparel/?b=<%= brand[:url] %>"><%= brand[:display].upcase %></a></li>
                  <% end %>
                </ul>
              </li>
              <li><a href="/nearby">AROUND ME</a></li>
              <li><a href="/search">SEARCH</a></li>
              <li id="feed"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li id="login-check"></li>
            </ul>

          </div>
        </div>
    </div>
    
    <!-- <video id="example_video_1" class="video-js vjs-default-skin"
      controls preload="auto" width="678" height="678"
      poster="http://distilleryimage3.s3.amazonaws.com/7edd47b20cbd11e387a122000ae90f87_7.jpg"
      data-setup='{"example_option":true}'>
     <source src="http://distilleryimage3.s3.amazonaws.com/7edd47b20cbd11e387a122000ae90f87_101.mp4" type='video/mp4' />
    </video> -->
      <div class="container">
        <%= yield %>
      </div>

      <a href="#" class="go-top">Scroll to Top</a> 

      <footer id="footer">
        <div class="navbar">
          <div class="container">
            <ul class="nav navbar-nav">
            <li><a href="/terms">Terms</a></li>
            <li><a href="/faq">faq</a></li>
            <li><a href="/privacy">privacy</a></li>
            <li><a href="http://blog.Joyviewer.com">Blog</a></li>
            <li><a href="/about">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://www.facebook.com/joyviewer" target="blank" class="fb-share">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/joyviewer" target="blank" class="twitter">Twitter</a>
            </li>
          </ul>
          </div>
        </div>
      </footer>
      
      <!-- Quantcast Tag -->
<script type="text/javascript">
  var _qevents = _qevents || [];

  (function() {
  var elem = document.createElement('script');
  elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
  elem.async = true;
  elem.type = "text/javascript";
  var scpt = document.getElementsByTagName('script')[0];
  scpt.parentNode.insertBefore(elem, scpt);
  })();

  _qevents.push({
  qacct:"p-Vz-Vqs5Kv7A_t"
  });
</script>

  <noscript>
  <div style="display:none;">
  <img src="//pixel.quantserve.com/pixel/p-Vz-Vqs5Kv7A_t.gif" border="0" height="1" width="1" alt="Quantcast"/>
  </div>
  </noscript>
  <!-- End Quantcast tag -->
  </body>
</html>
<script type="text/javascript">
  $(function() {
    $('.dropdown-toggle').dropdown();  
});
</script>
