<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title><%=h yield(:title) %></title>
    <meta name="Author" content="Kushal Dongre"/>
    <meta name="DESCRIPTION" content="<%= meta_description %>"/> 
    <meta name="KEYWORDS" content="<%= meta_keywords %>"/> 
    <meta name="ROBOTS" content="ALL"/>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.fancybox.pack", "jquery.fancybox-thumbs", "jquery.fittext" %>
    <link href='http://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="head-fix">
      <div class="grid_12 omega head-state">
        <div class="grid_3 omega logo-head">
          <a href="/">Joyviewer</a>
        </div>
          <nav class="clearfix">
            <ul class="clearfix">
              <% if !@current_user.guest_user %>
                <li><a class="<%= "list_selected" if params[:action] == "user" %>" href="/user">Feeds</a></li>
              <% end %>
              <li><a class="<%= "list_selected" if params[:action] == "/" %>" href="/popular">Popular</a></li>
              <% if !@current_user.guest_user %>
              <li><a class="<%= "list_selected" if params[:action] == "user" %>" href="/user">Feeds</a></li>
            <% else %>
              <li><a href="/tags">Tags</a></li>
            <% end %>
              <li><a href="/categories">Celebrities</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/about">About</a></li>
              <li class="nc">
                <% if @current_user.present? && !@current_user.guest_user %>
                  <div>
                    <!-- <a href="/user"><img src="<%#= @current_user.instagram_image %>"></a> -->
                    <div><a href="/logout">Logout</a></div>
                  </div>
                <% else %>
                  <a href="/login" class="log-btn">Log In with instagram</a>
                <% end %>
              </li>
            </ul>
            <a href="#" id="pull">Menu</a>
          </nav>
        </div>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>